---
// Importer components her
  import MainLayout from "../layouts/MainLayout.astro";
  import Card from "../components/Card.astro";
  import Button from "../components/Button.astro";
  import Shelf from "../components/Shelf.astro";

---

<MainLayout title="hjem">
	<!-- Det er attributter eks. header i card men astro kalder det props -->
	<!-- <Card sang="Lalala" text="Lorem" />
	<img src="" alt=""><Card/> -->

	<!-- <Header/> -->
	<!-- <Button variant="primary" size="medium" text="Log på"/>
	<Button variant="secondary" size="medium"/> -->
	<main>
		<Shelf title="Fokus"/></Shelf>
		<Shelf title="Spotify Playlist"></Shelf>
	</main>
</MainLayout>

<style>
	.hjem {
		display: flex;
		flex-direction: row;
	}
	
</style>