---
/* Samler props altså atributter op fra index
/* const button = Astro.props.button; */
const {variant, size} = Astro.props;

---

<!-- string concanation, bruger JS for at lime det sammen -->
<button class={variant + " " + size}><slot/></button>



<style>
    button {
        padding: 0.5rem;
        border-radius: 8px;
    }
    .primary {
        background-color: aquamarine;
    }
    .secondary {
        background-color:coral;
    }

    .small {
        font-size: 1rem;
    }
    .medium {
        font-size: 1.5rem;
    }
    .large {
        font-size: 2rem;
    }
</style>