---
/* Front matter
/* Samler props altså atributter op fra index
/* const button = Astro.props.button; */
const { variant = "primary", size = "medium" } = Astro.props;

---

<!-- string concanation, bruger JS for at lime det sammen -->
<!-- <button class={variant + " " + size }><slot/></button> -->

<button data-variant={variant} data-size={}>
    <slot/>
</button>


<style>
    /* Scoped styles- betyder at denne css ikke påvirker de andre komponenter */
    button {
        padding: 0.5rem;
        border-radius: 50px;
    }
    .primary {
        background-color: white;
        position: relative;
        transform: scale(1.04);
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .primary h2 {
        color: black;
    }
    .secondary {
        background-color:coral;
    }

    .small {
        font-size: 1rem;
    }
    .medium {
        font-size: 1.5rem;
    }
    .large {
        font-size: 2rem;
    }
</style>