---
/* Samler props op fra index */
 const sang = Astro.props.sang;
 const text = Astro.props.text; 

//  Dette er det samme som ovenover, men bare med færre linjer 
// const { sang } = Astro.props;
---

<article>
    <h2> {sang} </h2>
    <!-- slot er ikke skrevet med Uppercase da det faktisk er et validt HTML tag -->
    <slot/>
</article>

<style>

</style>